.reset-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: grey;
  color: white;
  font-size: 2rem;
  /* padding: o.5rem 1rem;
  margin: 2rem auto; */
  display: inline;
}

.btn-group button {
  background-color: grey;
  border: 1px solid grey;
  color: white;
  /* padding: 5px 5px; */
  width: 100%;
  cursor: pointer;
  float: middle;
  text-align: center;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
  color: blue;
}

.btn-group button:not(:last-child) {
  border-right: none;
  text-align: center;
  /* color: crimson; */
}

.btn-group button:hover {
  background-color: purple;
  text-align: center;
  /* color: blue; */
}
.btn-group {
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
